@model InformationalPortal.Models.Article
 <table>
     <tr>
         <td>Id: </td>
         <td>@Model.Id</td>
     </tr>
     <tr>
         <td>Name: </td>
         <td>@Html.ActionLink(@Model.Name,"GetArticle", new { id=@Model.Id})</td>
     </tr>
     <tr>
         <td>PictureLink: </td>
         <td>@Model.PictureLink</td>
     </tr>
 </table>