@model InformationalPortal.Models.Article[]
@{
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/CSS/Portal.css" rel="stylesheet" />
    <title>Index</title>
</head>
<body>
    <div>
        @Html.Partial("ArticlesTable", Model)       
    </div>    
</body>
</html>
